/cfg
venv
videos
paintings_db
/.vscode/
__pycache__
darknet_yolo/weights
yolov4
darknet
output.avi
output.mp4
test.py
old_main.py
keypoints_db
descriptors_db
.vscode
*.glb
mainfab.py
images
report/metafiles
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.bcf
*.xml